/* Thayna Gomes RA 1802222 */

body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
}

.menu-principal{
    width: 100%;
    background-color:#000;
    height: 105px;
}

main, .content {
    margin: 0 auto;
    width: 1210px;
    position: relative;
}

.logo{
    float: left;
    padding: 15px;
    width: 100%;
}

.header-2{
    background-color: #fff;
    width: 1210px;
    margin: 0 auto;
    text-align: center;
    padding: 8px;
}

.menu-urls {
    height: 60px;
    border-bottom: 3px solid #efefef;
}

.menu ul li{
    display: inline-block; /* Exibe em linha */
    color: #8b8b8b;
    height: 35px; /* altura do sublinhado */
    margin-left: 60px; /* distancia entre palavras */
}

.menu ul li:hover{
    border-bottom:5px solid #018a96;
}

.menu ul li a {
    color: #8b8b8b; /* cor do link */
    text-decoration: none; /* remove o sublinhado */
    font-size: 18px; /* tamanho fonte */
    text-transform: uppercase; /* letras maiuscular */

}

.menu ul li a:hover{
    color: #018a96;
}

.menu {
    width: 100%;
    float: left;
}

.col-100 {
    width: 100%;
    float: left;
    position: relative;
    background-color: #fff;
}

button.slick-prev { /* seta de antes */
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 4;
    background-color: transparent;
    position: absolute;
    background-image: url("../img/ant.png");
    top: 35%;
    left: 2%;
}

button.slick-next { /* seta de depois */
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 4;
    background-color: transparent;
    position: absolute;
    background-image: url("../img/dep.png");
    top: 35%;
    right:2%;
}

.slick-list{
    width: 100%!important;
}

.slick-initialized{ /* tira a rolagem horizontal */
    overflow: hidden;
}

.slick-dots li button{ /*estiliza o botão para mudar slide */
    font-size: 0px;
    border: 2px solid #fff;
    width: 15px;
    height: 15px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
}

.slick-dots{
    margin:0 auto;
    width: 50%;
    position: absolute;
    left: 47%;
    top: 500px;
}

li.slick-active button{
    background-color: #018a96;
}

.slick-dots li{ /* alinha os botões */
    padding-left: 10px;
    display: inline-block;
}

.texto-destaque{
    text-align: center;
}

.texto-destaque h1{
    font-size: 30px;
    color: #818181;
}

.texto-destaque p {
    font-size: 15px;
    color: #868686;
}

.col-3 {
    width: 33.3%;
    float: left;
    position: relative;
    margin-top: 4em;
}

.bloco-texto {
    margin-top: 2em;
}

.form{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'arial';
}

.placeholder{
    font-family: 'arial';
    color: #8b8b8b;
}

.textarea{
    width: 50%;
    height: 150px;
    padding: 12px 0px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.submit{
    background-color: #018a96;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

body.fn_flc{
    text-align: center;   
}

.inicio{
    color: white;
    background-color: #018a96;
    font-size: 20px;
}

h2, h5 {
    margin-left: 20px;
}

.informa p {
    font-size: 15px;
    color: #868686;
}

.informa h1 {
    font-size: 30px;
    color: #818181;
}

.col-4 {
    width: 33.3%;
    float: left;
    position: relative;
    margin-top: 4em;
}

.col-4 img {
    width: 150px;
    height: 150px;
}

.col-5 {
    width: 30%;
    float: left;
    position: relative;
    margin-top: 4em;
    margin-left: 35px;
    text-align: center;
}

.container {
    width: 33,3%;
    float: left;
    position: relative;
}

.container img {
    width: 250px;
    height: 250px;
}

.col-6 {
    width: 30%;
    float: left;
    position: relative;
    margin-top: 5em;
    margin-left: 35px;
    text-align: center;
}


/* Parent Container */
.content_img{
    position: relative;
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 10px;
    padding-left: 30px;
    padding: 42px;
   }
   
   /* Child Text Container */
   .content_img div{
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    margin-bottom: 5px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
   }
   
   /* Hover on Parent Container */
   .content_img:hover{
    cursor: pointer;
   }
   
   .content_img:hover div{
    width: 150px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 5.7; 
   }

   .taman {
       width: 250px;
       height: 250px;
   }

   .medida img {
       width: 100%;
       height: 500px;
   }

   .info-curso {
    width: 280px;
    height: 280px;
    float: right;
    text-align: center;
    background-color: #4b4a4a;
    background-position: center;
    color: #fff;
    border-radius: 20px; /* arredondar borda */
}

.hr{ /* linha na div */
 border-color:#aaa;
 box-sizing:border-box;
 width:20%;  
 float: right;
}

.info-curso h1 {
   padding: 18px;
}

.info-curso {
 padding: 10px;
}

.horas {
   height: 40%;
   width: 40%;
   float: right;
   padding-right: 30px;
   padding-top: 90px;
}