{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ARDUINO</title>
    <link rel="shortcut icon" href="../../static/img/logotipo.png" type="image/x-png"/><!--Icone do browser-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/base.css' %}"> <!--Puxa config do CSS-->
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <script src="{% static 'js/anima.js' %}"></script> <!--Puxa config do JS-->

</head>
<body>
    <header class="menu-principal">
        <main><!--Tag principal que engloba tudo-->
            <div class="header-1">
                <div class="logo">
                    <img src="../../static/img/titulo.png"/>
                </div>
            </div>
        </main>
    </header>

    <main class="col-100 menu-urls">
        <div class="header-2">
            <div class="menu">
                <ul>
                    <li><a href="index">Página Inicial</a></li>
                    <li><a href="cursos">Cursos</a></li>
                    <li><a href="descontos">Descontos</a></li>
                    <li><a href="noticias">Noticias</a></li>
                    <li><a href="cadastro">Cadastro</a></li>
                    <li><a href="sobre">Sobre</a></li>
                </ul>
            </div>
        </div>
    </main>

        <div class="medida">
            <img src="../../static/img/bannerarduino.png"/>
        </div>


        <main class="horas">
            <div class="info-curso">
                <h2>CARGA HORÁRIA</h2><hr/> <!--linha na div-->
                <h2>40 Hrs</h2><hr/>
                <h2>Curso Presencial</h2><hr/>
                <h2>Apostila Impressa</h2>
            </div>
        </main>
    
        <main class="curso">
            <div class="infor-geral">
                <h1>O CURSO</h1>
                <p>Neste curso, você aprenderá a desenvolver projetos eletrônicos utilizando 
                    Arduino, uma plataforma de prototipagem de hardware eletrônica. Criada 
                    em 2005 na cidade de Ivrea, na Itália, a plataforma possui o intuito de 
                    ensinar Design de Interação, uma disciplina que adota como principal 
                    metodologia a prototipação. O Arduino tem ganhado cada vez mais espaço 
                    no mercado, sendo utilizado por diferente profissionais, desde desenvolvedores 
                    iniciantes a experientes.</p>

                <h1>PRÉ REQUISITOS</h1>
                <p>Para realização do Curso de Arduino Aplicado à Robótica é necessário ter 
                    conhecimentos básicos em informática. O treinamento é prático e funciona 
                    no sistema BYOD (Bring Your Own Device), em que você traz seu próprio notebook, 
                    e recebe o Kit completo de materiais na primeira aula.</p>

                <h1>INDICADO PARA</h1>
                <p>- Facilitar a inserção no mercado de trabalho;<br/>
                        - Aprimorar os conhecimentos na área técnica de robótica;<br/>
                        - Formação técnica, gerando um grande diferencial no currículo;<br/>
                        - Adquirir conhecimentos de hardware e software;<br/></p>
            </div>
        </main>
</body>
</html>

