{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>COBOL</title>
    <link rel="shortcut icon" href="../../static/img/logotipo.png" type="image/x-png"/><!--Icone do browser-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/base.css' %}"> <!--Puxa config do CSS-->
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <script src="{% static 'js/anima.js' %}"></script> <!--Puxa config do JS-->

</head>
<body>
    <header class="menu-principal">
        <main><!--Tag principal que engloba tudo-->
            <div class="header-1">
                <div class="logo">
                    <img src="../../static/img/titulo.png"/>
                </div>
            </div>
        </main>
    </header>

    <main class="col-100 menu-urls">
        <div class="header-2">
            <div class="menu">
                <ul>
                    <li><a href="index">Página Inicial</a></li>
                    <li><a href="cursos">Cursos</a></li>
                    <li><a href="descontos">Descontos</a></li>
                    <li><a href="noticias">Noticias</a></li>
                    <li><a href="cadastro">Cadastro</a></li>
                    <li><a href="sobre">Sobre</a></li>
                </ul>
            </div>
        </div>
    </main>

    <div class="medida">
            <img src="../../static/img/bannercobol.png"/>
    </div>

    <main class="horas">
            <div class="info-curso">
                <h2>CARGA HORÁRIA</h2><hr/> <!--linha na div-->
                <h2>96 Hrs</h2><hr/>
                <h2>Curso Presencial e EAD</h2><hr/>
                <h2>Apostila Impressa</h2>
            </div>
        </main>


    <main class="curso">
            <div class="infor-geral">
                <h1>O CURSO</h1>
                <p>Neste curso você conhecerá os principais componentes 
                    para a programação de computadores, verá como desenvolver programas usando 
                    algoritmos, representados através de pseudocódigos e fluxogramas e irá 
                    acostumar-se com as regras de sintaxe utilizadas em linguagem de programação.</p>

                <h1>PRÉ REQUISITOS</h1>
                <p>Conhecimento básico em informática.</p>

                <h1>INDICADO PARA</h1>
                <p>- Facilitar a inserção no mercado de trabalho;<br/>
                        -  Pode ser executada em qualquer lugar ;<br/>
                        - Não é preciso se preocupar em aprender como usar novas ferramentas. 
                        É possível desenvolver aplicações em Cobol usando o TSO (Time Sharing Options) ;<br/>
                        - Economia de horas – Cobol é um auto - documento. A legibilidade do código 
                        Cobol e sua rígida estrutura hierárquica facilitam sua leitura e manutenção, poupando tempo.<br/></p>
            </div>
    </main>
</body>
</html>