{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DESIGN GRÁFICO</title>
    <link rel="shortcut icon" href="../../static/img/logotipo.png" type="image/x-png"/><!--Icone do browser-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/base.css' %}"> <!--Puxa config do CSS-->
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <script src="{% static 'js/anima.js' %}"></script> <!--Puxa config do JS-->

</head>
<body>
    <header class="menu-principal">
        <main><!--Tag principal que engloba tudo-->
            <div class="header-1">
                <div class="logo">
                    <img src="../../static/img/titulo.png"/>
                </div>
            </div>
        </main>
    </header>

    <main class="col-100 menu-urls">
        <div class="header-2">
            <div class="menu">
                <ul>
                    <li><a href="index">Página Inicial</a></li>
                    <li><a href="cursos">Cursos</a></li>
                    <li><a href="descontos">Descontos</a></li>
                    <li><a href="noticias">Noticias</a></li>
                    <li><a href="cadastro">Cadastro</a></li>
                    <li><a href="sobre">Sobre</a></li>
                </ul>
            </div>
        </div>
    </main>

    <div class="medida">
            <img src="../../static/img/bannerdesigngrafico.png"/>
    </div>


    <main class="horas">
            <div class="info-curso">
                <h2>CARGA HORÁRIA</h2><hr/> <!--linha na div-->
                <h2>120 Hrs</h2><hr/>
                <h2>Curso Presencial</h2><hr/>
                <h2>Apostila Impressa</h2>
            </div>
        </main>
    
        <main class="curso">
            <div class="infor-geral">
                <h1>O CURSO</h1>
                <p>O aluno deverá cursar 120 h/a de disciplinas optativas. As 
                    disciplinas de LIBRAS e Língua inglesa deverão obrigatoriamente 
                    ser incluídas no conjunto de disciplinas optativas. O conjunto 
                    de disciplinas optativas é constituído, além das disciplinas 
                    anteriormente mencionadas, por outras previamente selecionadas 
                    pela coordenação e pelo NDE do curso entre as disciplinas oferecidas 
                    pelos demais cursos da Instituição. O aluno poderá começar a cursar 
                    as disciplinas optativas em qualquer um dos módulos do ciclo 
                    de profissionalização ou se preferir poderá cursa-las no ciclo de 
                    conclusão, ou seja, durante o módulo TCC.</p>

                <h1>PRÉ REQUISITOS</h1>
                <p>Conhecimento básico de informática.</p>

                <h1>INDICADO PARA</h1>
                <p>- Departamento que oferece apoio no desenvolvimento de ideias, novos negócios, 
                    startups e projetos de inovação dos alunos;<br/>
                        - Gráficas, editoras, empresas jornalísticas, produtoras de TV, sinalizações urbanas, entre outros;<br/>
                        - Abrir seu próprio negócio.<br/>
                </p>
            </div>
        </main>
</body>
</html>

