{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PÁGINA INICIAL</title>
    <link rel="shortcut icon" href="../../static/img/logotipo.png" type="image/x-png"/><!--Icone do browser-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/base.css' %}"> <!--Puxa config do CSS-->
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <script src="{% static 'js/anima.js' %}"></script> <!--Puxa config do JS-->

</head>
<body>
    <header class="menu-principal">
        <main><!--Tag principal que engloba tudo-->
            <div class="header-1">
                <div class="logo">
                    <img src="../../static/img/titulo.png"/>
                </div>
            </div>
        </main>
    </header>

    <main class="col-100 menu-urls">
        <div class="header-2">
            <div class="menu">
                <ul>
                    <li><a href="index">Página Inicial</a></li>
                    <li><a href="cursos">Cursos</a></li>
                    <li><a href="descontos">Descontos</a></li>
                    <li><a href="cadastro">Cadastro</a></li>
                    <li><a href="sobre">Sobre</a></li>
                </ul>
            </div>
        </div>
    </main>

    <html>
    <head>
        <title>DEVOPS AC_2</title>
        
    </head>
    <body>
        <p><em><center><b>ATIVIDADES FORNECIDAS PARA ALUNOS</b></em></p>
        <hr>
        <table border="1">
        <tr>
            <td><b>SEGUNDA-FEIRA</b></td>
            <td><b>TERÇA-FEIRA</b></td>
            <td><b>QUARTA-FEIRA</b></td>
            <td><b>QUINTA-FEIRA</b></td>
            <td><b>SEXTA-FEIRA</b></td>
        </tr>
        <tr>
            <td><b>Horário :</b> [19h50 às 20h40]<br>
                <b>Disciplina :</b> Linguagem SQL <br>
                Professor : Marino Hilário Catarino <br>
                Sala : A309
            </td>
            <td><b>Horário :</b> [19h50 às 20h40]<br>
                <b>Disciplina :</b> Engenharia de Software <br>
                Professor : Meire Helen Batista Dias <br>
                Sala : A107
            </td>
            <td><b>Horário :</b> [19h50 às 20h40]<br>
                <b>Disciplina :</b> Tecnologia Web <br>
                Professor : Ramon Fortes Pereira <br>
                Sala : A309
            </td>
            <td><b>Horário :</b> [19h50 às 20h40]<br>
                <b>Disciplina :</b> Linguagem de Programação II <br>
                Professor : Guilherme Feulo do Espirito Santo <br>
                Sala : A310
            </td>
            <td><b>Horário :</b> [19h às 19h50]<br>
                <b>Disciplina :</b> Ambiente de Desenvolvimento e Operação <br>
                Professor : Alex lopes de Oliveira <br>
                Sala : A309
            </td>          
        </tr>
        </table>        
    </body>
</html>