{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RUBY</title>
    <link rel="shortcut icon" href="../../static/img/logotipo.png" type="image/x-png"/><!--Icone do browser-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/base.css' %}"> <!--Puxa config do CSS-->
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <script src="{% static 'js/anima.js' %}"></script> <!--Puxa config do JS-->

</head>
<body>
    <header class="menu-principal">
        <main><!--Tag principal que engloba tudo-->
            <div class="header-1">
                <div class="logo">
                    <img src="../../static/img/titulo.png"/>
                </div>
            </div>
        </main>
    </header>

    <main class="col-100 menu-urls">
        <div class="header-2">
            <div class="menu">
                <ul>
                    <li><a href="index">Página Inicial</a></li>
                    <li><a href="cursos">Cursos</a></li>
                    <li><a href="descontos">Descontos</a></li>
                    <li><a href="noticias">Noticias</a></li>
                    <li><a href="cadastro">Cadastro</a></li>
                    <li><a href="sobre">Sobre</a></li>
                </ul>
            </div>
        </div>
    </main>

    <div class="medida">
            <img src="../../static/img/bannerruby.png"/>
    </div>

    

    

    <main class="horas">
            <div class="info-curso">
                <h2>CARGA HORÁRIA</h2><hr/> <!--linha na div-->
                <h2>24 Hrs</h2><hr/>
                <h2>Curso Presencial e EAD</h2><hr/>
                <h2>Apostila Impressa</h2>
            </div>
        </main>
    
        <main class="curso">
            <div class="infor-geral">
                <h1>O CURSO</h1>
                <p>O Rails é um framework de desenvolvimento web escrito em Ruby de 
                    código aberto e uso livre. Seu principal objetivo é apresentar 
                    solução para 80% dos problemas de uma aplicação web, os outros 
                    20% são considerados problemas particulares do projeto, com isso 
                    o programador precisa se preocupar apenas com os problemas da 
                    aplicação que está trabalhando. Outro ponto importante são as 
                    ferramentas disponíveis no Rails que diminuem o tempo de 
                    desenvolvimento do projeto, além de possuir ferramentas essenciais
                     para o desenvolvimento usando métodos ágeis como Extreme Programming (XP) e Scrum. </p>

                <h1>PRÉ REQUISITOS</h1>
                <p>- Lógica orienatada a objeto;<br/>
                -Lógica de programação.</p>

                <h1>INDICADO PARA</h1>
                <p> Conceitos do Ruby como declaração de variáveis, criação de laços de repetição e condicionais;<br/>
                        - Aplicar orientação a objetos no Ruby;<br/>
                        - Tratamento de erros;<br/>
                        - Como funciona a estrutura de desenvolvimento usando o padrão MVC (Model, View, Control); <br/>
                        - Como é uma aplicação básica no Rails.<br/>
                </p>
            </div>
        </main>
</body>
</html>
